h1, h2, h3, p, a, li {
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.container-fluid {
  padding: 0px 0px; }

.full-width {
  margin: 0 0; }

.content {
  height: 100vh;
  background: #772953;
  color: white;
  background-color: transparent;
  padding-top: 5%;
  background: #772953 -moz-linear-gradient(center top, #772953, #F0F8FF) repeat scroll 0% 0%;
  background-image: -webkit-linear-gradient(top, #772953, #F0F8FF);
  background-image: -moz-linear-gradient(center top, #772953, #F0F8FF);
  background-image: -ms-linear-gradient(center top, #772953, #F0F8FF);
  background-image: -o-linear-gradient(center top, #772953, #F0F8FF); }
  .content h1, .content h2, .content li, .content p {
    font-family: 'Ubuntu', sans-serif; }
  .content #avatar {
    border-radius: 25%;
    height: 20vh;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.5); }
  .content .home-text {
    text-align: left; }
    @media only screen and (max-width: 768) {
      .content .home-text {
        text-align: center;
        color: green; } }
  .content .hello-box {
    width: 100%;
    font-size: 2em;
    padding: 5% 0%;
    display: inline-block;
    position: relative;
    font-family: 'ubuntu', sans-serif; }
    @media (max-width: 768px) {
      .content .hello-box {
        font-size: 1.5em; } }
    .content .hello-box > .hello:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0px;
      border-bottom: 2px solid white;
      bottom: 2px;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform .4s ease-in;
      transition: .4s ease-in; }
    .content .hello-box > .underline:before {
      -webkit-transform: scaleX(1) !important;
      -ms-transform: scaleX(1) !important;
      transform: scaleX(1) !important; }
  .content .intro {
    display: none; }
    .content .intro > div > p {
      font-size: 1.5em; }
      @media (max-width: 768px) {
        .content .intro > div > p {
          font-size: 1em; } }
  .content .intro-buttons > a {
    color: #772953;
    padding-right: 4%;
    -webkit-transition: color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out;
    -o-transition: color 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out;
    transition: color 500ms ease-in-out; }
    .content .intro-buttons > a:hover {
      color: white; }

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%; }
  @media only screen and (min-width: 650px) {
    #myCanvas {
      width: 100%; } }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1080px) {
    #myCanvas {
      top: 50%; } }

#section1 {
  margin: 10% 0%; }

#project-section {
  display: block; }

#skills-section {
  margin: 0% 10%;
  padding-top: 2%;
  font-size: 1.5em;
  line-height: 200%; }
  #skills-section > h1 {
    border-bottom: solid 2px;
    padding: 2% 2%; }
  #skills-section > .highlight {
    background-color: #772953;
    color: white;
    padding: 2% 2%; }
  #skills-section > p > .highlight {
    background-color: #772953;
    color: white;
    padding: 0% 2%; }

.main {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 70%;
  text-align: center;
  z-index: 2; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1080px) {
    .main {
      top: 80%; } }
  .main > ul {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: solid 2px;
    padding: 2% 0%; }
    .main > ul > li {
      display: inline;
      color: white;
      list-style: none;
      text-align: center;
      padding: 0% 2%;
      font-size: 2.5em; }
      .main > ul > li > a {
        color: white;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif; }
  .main > #contact-info {
    display: none;
    color: white;
    border-bottom: none; }

#buttons {
  position: absolute;
  top: 5px;
  left: 10px; }

#buttons > input {
  padding: 10px;
  display: block;
  margin-top: 5px; }

.project-section {
  background-color: #F0F8FF;
  padding-bottom: 5%; }
  .project-section h1, .project-section h2 {
    font-family: 'Ubuntu', sans-serif; }

.projects-header {
  width: 100%;
  font-size: 3em;
  padding: 3% 0%;
  margin: 3% auto;
  display: inline-block;
  position: relative;
  font-family: 'ubuntu', sans-serif; }
  .projects-header > .projects-header-text:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0px;
    border-bottom: 2px solid black;
    bottom: 2px;
    left: 25%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: 1s ease-in; }
  .projects-header > .highlight:before {
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important; }

.project-card {
  display: inline-block; }

.project-pic {
  max-height: 350px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  overflow: hidden;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-transition: margin 0.5s ease-in-out;
  -moz-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out; }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) {
    .project-pic {
      max-height: 250px;
      margin-bottom: 20%; } }
  .project-pic:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer; }

.project-caption {
  position: absolute;
  background-color: white;
  text-align: left;
  padding: 5% 5%;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .project-caption > .project-name {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif; }

.project-description {
  display: inline-block;
  width: 100%; }
  .project-description > p {
    display: inline-block;
    padding: 2% 10%;
    width: 80%;
    margin: auto;
    color: black; }

.project-text {
  position: absolute;
  width: 75%;
  top: 100%;
  background-color: red; }

.project-title {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid #9c27b0;
  margin: 5px auto; }
  .project-title > h2 {
    text-align: left; }

#about-section {
  background: #3aa5c3;
  background: #772953 -moz-linear-gradient(center top, #F0F8FF, #3aa5c3) repeat scroll 0% 0%;
  background-image: -webkit-linear-gradient(top, #F0F8FF, #3aa5c3);
  background-image: -moz-linear-gradient(center top, #F0F8FF, #3aa5c3);
  background-image: -ms-linear-gradient(center top, #F0F8FF, #3aa5c3);
  background-image: -o-linear-gradient(center top, #F0F8FF, #3aa5c3);
  height: 100vh;
  color: black; }
  #about-section h1 {
    font-family: 'Ubuntu', sans-serif; }
  #about-section #about-title {
    padding: 2%;
    padding-top: 5%;
    width: 80%;
    margin: 5% auto;
    font-size: 2em;
    border-bottom: solid 2px; }
    #about-section #about-title > h1 {
      margin: 0px auto;
      text-align: center;
      text-transform: uppercase; }
  #about-section #about-block {
    padding: 0px 10%;
    font-size: 1.5em; }
    @media (max-width: 768px) {
      #about-section #about-block {
        font-size: 1em; } }
    #about-section #about-block > p {
      text-align: left;
      margin: 5% 0%; }
  #about-section #contact-link {
    margin: 10%; }
    #about-section #contact-link > a {
      color: white;
      border: 2px solid white;
      padding: 1.25rem 3rem 1.15rem;
      margin: 10px 10px;
      border-radius: 6px;
      text-decoration: none;
      -webkit-transition: background-color 500ms ease-in-out;
      -moz-transition: background-color 500ms ease-in-out;
      -o-transition: background-color 500ms ease-in-out;
      -ms-transition: background-color 500ms ease-in-out;
      transition: background-color 500ms ease-in-out; }
      #about-section #contact-link > a:hover {
        background-color: white;
        color: #3aa5c3;
        cursor: pointer; }

.about-header {
  width: 100%;
  font-size: 3em;
  padding: 3% 0%;
  margin: 3% auto;
  display: inline-block;
  position: relative;
  font-family: 'ubuntu', sans-serif;
  text-transform: uppercase; }
  .about-header > .about-header-text:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0px;
    border-bottom: 2px solid black;
    bottom: 2px;
    left: 25%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: 1s ease-in; }
  .about-header > .underline:before {
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important; }

.modal-content > .modal-header > .modal-title {
  font-family: 'Ubuntu', sans-serif; }
.modal-content > .modal-body > img {
  max-height: 300px; }
.modal-content > .modal-body > .summary {
  text-align: left;
  line-height: 2em;
  margin-top: 2%;
  padding: 0px 5%; }
.modal-content > .modal-body > .stack {
  color: #CCC;
  margin-top: 5%; }
.modal-content > .modal-body > .project-links > a {
  display: inline-block;
  color: #9c27b0;
  border: 2px solid #9c27b0;
  padding: 1.25rem 3rem 1.15rem;
  margin: 10px 10px;
  border-radius: 2rem;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transition: background-color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out; }
  .modal-content > .modal-body > .project-links > a:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .modal-content > .modal-body > .project-links > a:hover {
    background-color: #9c27b0;
    color: white; }

.mobile-pic {
  position: absolute;
  left: 5%;
  top: 0;
  height: 150px; }

.desktop-pic {
  max-height: 200px; }

.vert-pic {
  max-height: 300px; }

.tablet-pic {
  max-height: 175px; }

/*# sourceMappingURL=custom.css.map */
